name: Deploy Streamlit App

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Display Python version
      run: python -c "import sys; print(sys.version)"

    - name: Upgrade pip
      run: |
        python -m pip install --upgrade pip
        pip --version

    - name: Install dependencies
      run: |
        pip install -r requirements.txt
        pip list

    - name: Check Streamlit installation
      run: |
        python -c "import streamlit; print(f'Streamlit version: {streamlit.__version__}')"
        
    - name: Check pandas installation
      run: |
        python -c "import pandas; print(f'Pandas version: {pandas.__version__}')"